<div *ngIf="isLoading; else content">
    <p>กำลังโหลดข้อมูล...</p>
</div>

<ng-template #content>
    <div *ngIf="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
        <p>Price: {{ user.price | currency }}</p>

        <!-- Form for updating user -->
        <form (ngSubmit)="updateCustomer()">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" [(ngModel)]="updatedUser.name" name="name" required />
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" [(ngModel)]="updatedUser.description" name="description"></textarea>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" [(ngModel)]="updatedUser.price" name="price" required />
            </div>

            <label>จังหวัด:</label>
            <input type="text" [(ngModel)]="updatedUser.province.nameEn" [ngModelOptions]="{standalone: true}" />
            <button type="submit">Update</button>

            <button type="submit">Update</button>
        </form>
    </div>

    <div *ngIf="!user">
        <p>ไม่พบข้อมูล</p>
    </div>
</ng-template>