<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">
    <form (ngSubmit)="onSubmit()">
        <section>
            <!-- General Information Section -->
            <div class="section">
                <h2>General Information</h2>
                <div>
                    <label for="generalName">General Name:</label>
                    <input id="generalName" [(ngModel)]="customerData.general.generalName" name="generalName" />
                </div>
                <div>
                    <label for="generalTel">General Tel:</label>
                    <input id="generalTel" [(ngModel)]="customerData.general.generalTel" name="generalTel" />
                </div>
                <div>
                    <label for="generalEmail">General Email:</label>
                    <input id="generalEmail" [(ngModel)]="customerData.general.generalEmail" name="generalEmail" />
                </div>
                <div>
                    <label for="generalBranch">General Branch:</label>
                    <input id="generalBranch" [(ngModel)]="customerData.general.generalBranch" name="generalBranch" />
                </div>
                <div>
                    <h3>Address</h3>
                    <label for="addrLine1">Address Line 1:</label>
                    <input id="addrLine1" [(ngModel)]="customerData.general.address.addrLine1" name="addrLine1" />

                    <label for="addrLine2">Address Line 2:</label>
                    <input id="addrLine2" [(ngModel)]="customerData.general.address.addrLine2" name="addrLine2" />

                    <label for="district">District:</label>
                    <input id="district" [(ngModel)]="customerData.general.address.district" name="district" />

                    <label for="postalCode">Postal Code:</label>
                    <input id="postalCode" [(ngModel)]="customerData.general.address.postalCode" name="postalCode" />
                </div>
            </div>

            <!-- Shipping Information Section -->
            <div class="section">
                <h2>Shipping Information</h2>
                <div>
                    <label for="deliveryName">Delivery Name:</label>
                    <input id="deliveryName" [(ngModel)]="customerData.shipping.deliveryName" name="deliveryName" />
                </div>
                <div>
                    <label for="address1">Address 1:</label>
                    <input id="address1" [(ngModel)]="customerData.shipping.address1" name="address1" />
                </div>
                <div>
                    <label for="address2">Address 2:</label>
                    <input id="address2" [(ngModel)]="customerData.shipping.address2" name="address2" />
                </div>
                <div>
                    <label for="districtShipping">District:</label>
                    <input id="districtShipping" [(ngModel)]="customerData.shipping.district" name="districtShipping" />
                </div>
                <div>
                    <label for="districtShipping">District:</label>
                    <input id="districtShipping" [(ngModel)]="customerData.shipping.district" name="districtShipping" />
                </div>
                <div>
                    <label for="postalCodeShipping">Postal Code:</label>
                    <input id="postalCodeShipping" [(ngModel)]="customerData.shipping.postalCode"
                        name="postalCodeShipping" />
                </div>
                <div>
                    <label for="contact_name">Contact Name:</label>
                    <input id="contact_name" [(ngModel)]="customerData.shipping.contact_name" name="contact_name" />
                </div>
                <div>
                    <label for="shippingCountry">Country:</label>
                    <input id="shippingCountry" [value]="customerData.shipping.country?.countryName"
                        name="shippingCountry" disabled />
                </div>

            </div>

            <!-- Shop Type Section -->
            <div class="section">
                <h2>Shop Type</h2>
                <div>
                    <label for="shopCode">Shop Code:</label>
                    <input id="shopCode" [(ngModel)]="customerData.shopType.shopCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">Shop Name:</label>
                    <input id="shopName" [(ngModel)]="customerData.shopType.shopName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">Shop Description:</label>
                    <input id="shopDes" [(ngModel)]="customerData.shopType.shopDes" name="shopDes" />
                </div>
                <div>
                    <label for="accGroupName">Account Group Name:</label>
                    <input id="accGroupName" [(ngModel)]="customerData.shopType.accGroupName" name="accGroupName" />
                </div>
            </div>
        </section>
        <!-- Displaying Countries -->
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" [(ngModel)]="customerData.general.address.country.countryId" name="country"
                class="form-control">
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
            </select>
        </div>
        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>


</body>

</html>