<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">
    <form (ngSubmit)="onSubmit()">
        <section>
            <!-- General Information Section -->
            <div class="section">
                <h2>General Information</h2>
                <div>
                    <label for="generalName">General Name:</label>
                    <input id="generalName" [(ngModel)]="customerData.general.generalName" name="generalName" />
                </div>
                <div>
                    <label for="generalTel">General Tel:</label>
                    <input id="generalTel" [(ngModel)]="customerData.general.generalTel" name="generalTel" />
                </div>
                <div>
                    <label for="generalEmail">General Email:</label>
                    <input id="generalEmail" [(ngModel)]="customerData.general.generalEmail" name="generalEmail" />
                </div>
                <div>
                    <label for="generalBranch">General Branch:</label>
                    <input id="generalBranch" [(ngModel)]="customerData.general.generalBranch" name="generalBranch" />
                </div>
                <div>
                    <h3>Address</h3>
                    <label for="addrLine1">Address Line 1:</label>
                    <input id="addrLine1" [(ngModel)]="customerData.general.address.addrLine1" name="addrLine1" />

                    <label for="addrLine2">Address Line 2:</label>
                    <input id="addrLine2" [(ngModel)]="customerData.general.address.addrLine2" name="addrLine2" />

                    <label for="district">District:</label>
                    <input id="district" [(ngModel)]="customerData.general.address.district" name="district" />

                    <label for="postalCode">Postal Code:</label>
                    <input id="postalCode" [(ngModel)]="customerData.general.address.postalCode" name="postalCode" />
                </div>
            </div>

            <!-- Shipping Information Section -->
            <div class="section">
                <h2>Shipping Information</h2>
                <div>
                    <label for="deliveryName">Delivery Name:</label>
                    <input id="deliveryName" [(ngModel)]="customerData.shipping.deliveryName" name="deliveryName" />
                </div>
                <div>
                    <label for="address1">Address 1:</label>
                    <input id="address1" [(ngModel)]="customerData.shipping.address1" name="address1" />
                </div>
                <div>
                    <label for="address2">Address 2:</label>
                    <input id="address2" [(ngModel)]="customerData.shipping.address2" name="address2" />
                </div>
                <div>
                    <label for="districtShipping">District:</label>
                    <input id="districtShipping" [(ngModel)]="customerData.shipping.district" name="districtShipping" />
                </div>
                <div>
                    <label for="districtShipping">District:</label>
                    <input id="districtShipping" [(ngModel)]="customerData.shipping.district" name="districtShipping" />
                </div>
                <div>
                    <label for="postalCodeShipping">Postal Code:</label>
                    <input id="postalCodeShipping" [(ngModel)]="customerData.shipping.postalCode"
                        name="postalCodeShipping" />
                </div>
                <div>
                    <label for="contact_name">Contact Name:</label>
                    <input id="contact_name" [(ngModel)]="customerData.shipping.contact_name" name="contact_name" />
                </div>
                <div>
                    <label for="shippingCountry">Country:</label>
                    <input id="shippingCountry" [value]="customerData.shipping.country?.countryName"
                        name="shippingCountry" disabled />
                </div>

            </div>

            <!-- Shop Type Section -->
            <div class="section">
                <h2>Shop Type</h2>
                <div>
                    <label for="shopCode">Shop Code:</label>
                    <input id="shopCode" [(ngModel)]="customerData.shopType.shopCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">Shop Name:</label>
                    <input id="shopName" [(ngModel)]="customerData.shopType.shopName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">Shop Description:</label>
                    <input id="shopDes" [(ngModel)]="customerData.shopType.shopDes" name="shopDes" />
                </div>
                <div>
                    <label for="accGroupName">Account Group Name:</label>
                    <input id="accGroupName" [(ngModel)]="customerData.shopType.accGroupName" name="accGroupName" />
                </div>
            </div>

            <div class="industryType">
                <h2>industryType</h2>
                <div>
                    <label for="shopCode">induTypeCode</label>
                    <input id="shopCode" [(ngModel)]="customerData.industryType.induTypeCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">induTypeName</label>
                    <input id="shopName" [(ngModel)]="customerData.industryType.induTypeName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">induTypeDes</label>
                    <input id="shopDes" [(ngModel)]="customerData.industryType.induTypeDes" name="shopDes" />
                </div>

            </div>

            <div class="company">
                <h2>company</h2>
                <div>
                    <label for="shopCode">companyCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.company.companyCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">companyName:</label>
                    <input id="shopName" [(ngModel)]="customerData.company.companyName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">companyAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.company.companyAddr" name="shopDes" />
                </div>

            </div>

            <div class="saleOrg">
                <h2>saleOrg</h2>
                <div>
                    <label for="shopCode">saleOrgCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.saleOrg.saleOrgCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">saleOrgName:</label>
                    <input id="shopName" [(ngModel)]="customerData.saleOrg.saleOrgName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">saleOrgAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.saleOrg.saleOrgDes" name="shopDes" />
                </div>

            </div>

            <div class="accountCode">
                <h2>accountCode</h2>
                <div>
                    <label for="shopCode">accountCodeCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.accountCode.accountCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">accountCodeName:</label>
                    <input id="shopName" [(ngModel)]="customerData.accountCode.accountName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">accountCodeAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.accountCode.accountType" name="shopDes" />
                </div>
                <div>
                    <label for="shopDes">accountCodeAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.accountCode.description" name="shopDes" />
                </div>

            </div>

            <div class="accountGroup">
                <h2>accountGroup</h2>
                <div>
                    <label for="shopCode">accountGroupCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.accountGroup.accGroupCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">accountGroupName:</label>
                    <input id="shopName" [(ngModel)]="customerData.accountGroup.accGroupName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">accountGroupAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.accountGroup.accGroupDes" name="shopDes" />
                </div>
            </div>

            <div class="businessType">
                <h2>businessType</h2>
                <div>
                    <label for="shopCode">businessTypeCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.businessType.busiTypeCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">businessTypeName:</label>
                    <input id="shopName" [(ngModel)]="customerData.businessType.busiTypeName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">businessTypeAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.businessType.busiTypeDes" name="shopDes" />
                </div>
                <div>
                    <label for="shopDes">businessTypeAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.businessType.registrationDate" name="shopDes" />
                </div>
                <div>
                    <label for="shopDes">businessTypeAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.businessType.registeredCapital" name="shopDes" />
                </div>
            </div>

            <div class="creditInfo">
                <h2>creditInfo</h2>
                <div>
                    <label for="shopCode">creditInfoCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.creditInfo.estimatedPurchase" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">creditInfoName:</label>
                    <input id="shopName" [(ngModel)]="customerData.creditInfo.timeRequired" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">creditInfoAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.creditInfo.creditLimit" name="shopDes" />
                </div>
            </div>

            <div class="docCredit">
                <h2>docCredit</h2>
                <div>
                    <label for="shopCode">docCreditCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.docCredit.companyCertificate" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">docCreditName:</label>
                    <input id="shopName" [(ngModel)]="customerData.docCredit.copyOfPP_20" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">docCreditAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.docCredit.copyOfCoRegis" name="shopDes" />
                </div>
                <div>
                    <label for="shopName">docCreditName:</label>
                    <input id="shopName" [(ngModel)]="customerData.docCredit.copyOfIDCard" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">docCreditAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.docCredit.companyLocationMap" name="shopDes" />
                </div>
                <div>
                    <label for="shopDes">docCreditAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.docCredit.otherSpecify" name="shopDes" />
                </div>
            </div>

            <div class="customerSign">
                <h2>customerSign</h2>
                <div>
                    <label for="shopCode">customerSignCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.customerSign.custSignFirstName" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">customerSignName:</label>
                    <input id="shopName" [(ngModel)]="customerData.customerSign.custsignTel" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">customerSignAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.customerSign.custsignEmail" name="shopDes" />
                </div>
                <div>
                    <label for="shopName">customerSignName:</label>
                    <input id="shopName" [(ngModel)]="customerData.customerSign.custsignLine" name="shopName" />
                </div>

            </div>

            <div class="sortKey">
                <h2>sortKey</h2>
                <div>
                    <label for="shopCode">sortKeyCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.sortKey.sortkeyCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">sortKeyName:</label>
                    <input id="shopName" [(ngModel)]="customerData.sortKey.sortkeyName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">sortKeyAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.sortKey.sortkeyDes" name="shopDes" />
                </div>


            </div>

            <div class="paymentMethod">
                <h2>paymentMethod</h2>
                <div>
                    <label for="shopCode">paymentMethodCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.paymentMethod.paymentMethodCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">paymentMethodName:</label>
                    <input id="shopName" [(ngModel)]="customerData.paymentMethod.paymentMethodName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">paymentMethodAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.paymentMethod.description" name="shopDes" />
                </div>


            </div>

            <div class="termOfPayment">
                <h2>termOfPayment</h2>
                <div>
                    <label for="shopCode">termOfPaymentCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.termOfPayment.termCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">termOfPaymentName:</label>
                    <input id="shopName" [(ngModel)]="customerData.termOfPayment.termName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">termOfPaymentAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.termOfPayment.description" name="shopDes" />
                </div>


            </div>

            <div class="saleDistrict">
                <h2>saleDistrict</h2>
                <div>
                    <label for="shopCode">saleDistrictCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.saleDistrict.districtCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">saleDistrictName:</label>
                    <input id="shopName" [(ngModel)]="customerData.saleDistrict.districtName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">saleDistrictAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.saleDistrict.description" name="shopDes" />
                </div>


            </div>

            <div class="saleGroup">
                <h2>saleGroup</h2>
                <div>
                    <label for="shopCode">saleGroupCode:</label>
                    <input id="shopCode" [(ngModel)]="customerData.saleGroup.groupCode" name="shopCode" />
                </div>
                <div>
                    <label for="shopName">saleGroupName:</label>
                    <input id="shopName" [(ngModel)]="customerData.saleGroup.groupName" name="shopName" />
                </div>
                <div>
                    <label for="shopDes">saleGroupAddr:</label>
                    <input id="shopDes" [(ngModel)]="customerData.saleGroup.description" name="shopDes" />
                </div>


            </div>

            <div class="custGroupType">
                <h2>custGroupType</h2>
                <div>
                    <label for="groupCode">Group Code:</label>
                    <input id="groupCode" [(ngModel)]="customerData.custGroupType.groupCode" name="groupCode" />
                </div>
                <div>
                    <label for="groupName">Group Name:</label>
                    <input id="groupName" [(ngModel)]="customerData.custGroupType.groupName" name="groupName" />
                </div>
                <div>
                    <label for="description">Description:</label>
                    <input id="description" [(ngModel)]="customerData.custGroupType.description" name="description" />
                </div>
            </div>

            <div class="custGroupType">
                <h2>custGroupType</h2>
                <div>
                    <label for="groupCode">Group Code:</label>
                    <input id="groupCode" [(ngModel)]="customerData.custGroupType.groupCode" name="groupCode" />
                </div>
                <div>
                    <label for="groupName">Group Name:</label>
                    <input id="groupName" [(ngModel)]="customerData.custGroupType.groupName" name="groupName" />
                </div>
                <div>
                    <label for="description">Description:</label>
                    <input id="description" [(ngModel)]="customerData.custGroupType.description" name="description" />
                </div>
            </div>

            <div class="currency">
                <h2>Currency</h2>
                <div>
                    <label for="currencyCode">Currency Code:</label>
                    <input id="currencyCode" [(ngModel)]="customerData.currency.currencyCode" name="currencyCode" />
                </div>
                <div>
                    <label for="currencyName">Currency Name:</label>
                    <input id="currencyName" [(ngModel)]="customerData.currency.currencyName" name="currencyName" />
                </div>
                <div>
                    <label for="symbol">Symbol:</label>
                    <input id="symbol" [(ngModel)]="customerData.currency.symbol" name="symbol" />
                </div>
            </div>


        </section>
        <!-- Displaying Countries -->
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" [(ngModel)]="customerData.general.address.country.countryId" name="country"
                class="form-control">
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
            </select>
        </div>
        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>


</body>

</html>